@import url("https://fonts.googleapis.com/css2?family=Rum+Raisin&display=swap");

body {
 font-family: "Rum Raisin", sans-serif;
 font-size: x-large;
}

.homePageBasket {
    display: inline;
    width: 300px;
}